body
{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/*Requerimiento del cliente*/
	min-width: 1078px;
	max-width: 1078px;
}

header input
{
	float: right; /*flotar imagen*/
	margin-right: -250px;
	margin-top: 15px;
	position: relative;
}

header nav
{
	/*text-align: center;*/
	margin-left: 220px; /*mover la caja a fuerza*/
}

header nav ul li
{
	border-bottom: 1px solid lightgray; /*linea abajo del texto*/
	color: lightgray;
	display: inline-block; /*que se pongan horizontal*/
	font-size: 1.8em;
	margin-right: 15px;
	padding-bottom: 2px; /*expandir caja del texto hacia la linea*/
	/*text-decoration: underline;*/
}

footer
{
	background: #2e65b6;
	color: white;
	font-size: 0.8em;
	margin-top: 25px;
	padding-top: 50px;
}

footer article
{
	display: inline-block;
	padding-bottom: 10px;
}

footer input
{
	background: #2e65b6;
	border: 1px solid white;
	border-radius: 10px;
	color: white;
	float: right;
}


#bgoffer
{
	left: -35px;
	position: relative; /*mandar arriba la imagen (sacarlo de su caja)*/
	top: -410px;
}

#granthams
{
	margin-left: 25px;
	margin-top: 25px;
}

#paint
{
	float: right;
}

#primerSeccion
{
	height: 318px; /*alto de la seccion*/
	margin-top: 60px;
}

#primerSeccion article
{
	display: inline-block;
	vertical-align: top; /*alineacion vertical hacia arriba*/
}

#secc01art01
{
	margin-left: 30px;
	width: 60%;
}

#secc01art02
{
	margin-left: 50px;
	width: 30%;
}

#secc01art02 ul
{
	list-style: none; /*estilo de vista, ninguno*/
	margin-left: -40px;
}

#secc01art02 ul li:before
{
	content: "• ";
	color: #FF0099
}

#secc03art4
{
	padding-top: 40px;
}

#segundaSeccion article
{
	padding-right: 122px;
	text-align: right;
}

#terceraSeccion article
{
	display: inline-block;
	vertical-align: top; /*alinear hacia arriba de la caja*/
	width: 23%;
}

#terceraSeccion article img
{
	vertical-align: middle; /*colocar el texto a la mitad de la imagen*/
}

#terceraSeccion article input
{
	border-radius: 5px;
}

#terceraSeccion article input[type="button"]
{
	background: #8BC500;
	color: white;
}

#footart01
{
	width: 35%;
}

#footart02
{
	text-align: center;
	width: 35%;
}

#footart03
{
	width: 26%;
}

#facebook
{
	float: right;
	position: relative;
	top: -120px;
	right: 170px
}

#twitter
{
	float: right;
	position: relative;
	top: -120px;
	right: 70px;
}

#monitos
{
	float: right;
	position: relative;
	top: -160px;
	left: 60px;
}

.colorazul
{
	color: #4267B3;
}

.colorverde
{
	color: #8BC500;
}

.colorrosa
{
	color: #FF0099;
}

.letragrande
{
	font-size: 3.5em;
}

.letramediana
{
	font-size: 2em;

}

.nito
{
	font-weight: bold; /*letras en negrita*/
}









